@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Begin TABLE, introduction */
table{
	border-collapse: collapse;
	margin: 1em auto;
}

tbody td:last-child{
	padding-left: 3em;
	text-align: right;
}

thead{
	font-size: smaller;
}

thead tr th,
td:first-child{
	text-align: center;
}

thead tr th:last-child{
	padding-left: 3em;
}
/* end table, c1 */

/* Footer to introduction */
#introduction div{
	margin-top: 1em;
	text-indent: initial;
}

[epub|type~="z3998:place"]{
	font-variant: small-caps;
}
/* end footer */
