@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Begin TABLE, chapter-1 */
table{
	border-collapse: collapse;
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
}

tbody td:last-child{
	padding-left: 3em;
	text-align: right;
}

thead{
	font-size: smaller;
}

thead tr th,
td:first-child{
	text-align: center;
}

thead tr th:last-child{
	padding-left: 3em;
}
/* end table, c1 */

/* Footer to chapter-1 */
#chapter-1 div{
	margin-top: 1em;
	text-indent: initial;
}

[epub|type~="z3998:place"]{
	font-variant: small-caps;
}
/* end footer */
